<h2>Product List</h2>
<ul>
    <li
        *ngFor="let product of products | sort; let i = index"
        (click)="selectedProduct = product"
    >
        {{ product.name }}
    </li>
</ul>
<sv-product-detail
    *ngIf="selectedProduct; else noProduct"
    [product]="selectedProduct"
    (bought)="onBuy()"
>
</sv-product-detail>

<ng-template #noProduct>
    <p>No product selected!</p>
</ng-template>

<h3>Offers</h3>
<ng-template svProductHost></ng-template>

<h2>Favorites</h2>
<sv-favorites></sv-favorites>

<!-- <h2>Product List</h2>
<ul>
    <li *ngFor="let product of products" (click)="selectedProduct = product">
        {{ product }}
    </li>
</ul>

<sv-product-detail
    *ngIf="selectedProduct; else noProduct"
    [name]="selectedProduct"
    (bought)="onBuy($event)"
></sv-product-detail>

<ng-template #noProduct>
    <p>No product selected!</p>
</ng-template> -->

<!-- <ul>
    <li
        *ngFor="let product of products; let i = index"
        (click)="selectedProduct = product"
    >
        {{ i + 1 }}. {{ product }}
    </li>
</ul> -->

<!-- <ul>
    <li *ngFor="let product of products; trackBy: trackByProducts">
        {{ product }}
    </li>
</ul> -->
