/* You can add global styles to this file, and also import other style files */

.roundercornerswithborder {
    border-radius: 25px;
    border: 2px solid #014ea1;
    padding: 20px;
    height: 100px;
    margin-bottom: 20px;
}